<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	 {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/fbuser.css'%}">
	<div id="fb">
	<img src="{% static 'image/fbp1.png'%}" id="img1">
	<img src="{% static 'image/sign1.png'%}">
    </div>
		<div id="bg">
		<div id="inside">
	<h3>Facebook Login
	<hr></h3>
	<table>
	<tr>
	<td>Email or phone:</td>
	<td><input type="" name="" id="username" style="border-color: red"> <span>The email address that you've entered doesn't match any account.<span><b>Sign up for an account</b></label></td></td>
	</tr>
	<tr><td>
	Password:</td>
	<td><input type="Password" name="" id="password" ></td></tr>
	<tr><td></td><td><input type="checkbox" name="">keep me logged in</td></tr>
	<tr><td></td><td><input type="button" name="" value="Log In" id="fun" style="background-color: #5c5cd6"> or 
		<a href="">sign up for facebook </a></td></tr>
		<tr><td></td><td><a href="">Forgotten password?</td></tr>
	</table>
	</div>
	</div>
	<div>
		<img src="{% static 'image/fbfoot.png'%}" id="img3" width="20px">
	</div>
	
</body>
</html>