<!DOCTYPE html>
<html>
<head>
<body>
  {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'style/pass.css'%}">
        <header id="back">
          <img src="{% static 'image/fbp1.png'%}" id="logo" >
            <img src="{% static 'image/sign1.png'%}" id="sign">
          
        </header>
        <div id="page">
        <div id="table">
       <h3 style="color: #003399">Facebook Login</h3>
       <hr>
       <table>
       <tr>
       <td>Login as:</td>
       <td> 
        <img src="{% static 'image/digital2.png'%}" id="profile"> 
        <div id="lname"><a href="" id="rname"> Haris Np<br><a href="" id="mail">haris.np@gmail.com</a></div><a href="" ><br> &nbsp;&nbsp;Not haris?</td><td></td>
       </tr>
       <tr>
         <td>
          <input type="hidden" id="username"></td>
       </tr>
       <tr><td>
       Password:</td>
       <td><input type="Password" name="" id="password" style="border-color: red"><span> The password you've entered is incorrect. <b>Forgot password</b></span></td></tr>
       <tr><td></td><td><input type="checkbox" name="">keep me logged in</td></tr>
       <tr><td></td><td><input type="button" name="" value="Log In" id="pag" style="background-color: #5c5cd6;"> or 
        <a href="" >sign up for facebook </a></td></tr>
        <tr><td></td><td><a href="">Forgotten password?</td></tr>
       </table>
      </div>
      </div>
      <div id="footer">
        <img src="{% static 'image/foot.png'%}">
      </div>
      </body>
      </html>