{% load static %}
<html>
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script type="text/javascript">
             $(document).ready(function(){
       
                $('.addFrd').click(function(){
                    if($(this).val() == 'Add Friend') {
                        $(this).val('Cancel')
                    } else {
                        $(this).val('Add Friend')
                    }
                });

            });
               </script>
        
    </head>
    <body>
            <link rel="stylesheet" href="{% static 'style/profile.css'%}">
              <div id="fb">
            <img src="{% static 'image/fbp1.png'%}" id="img1">
              </div>
            <div id="bg"></div><br>

        <form method="POST" action="/fbapp/addfriend/">
            {% csrf_token %}
            {% for UserDetails in user %}
            {{UserDetails.first_name}}
            {{UserDetails.last_name}}
            <input type="button" value="Add Friend" name="addfrnd" class="addFrd">
            <br><br>
            {% endfor %}
        </form>
        
    </body>
</html>