{% load static %}
<html>
    <head>
     
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script type="text/javascript">

      $(document).ready(function(){
      $('#edit').click(function(){
      $('#edit').hide()  
      $('#update').show()  
      $(this).val("update");
      $("input[name = 'firstname']").removeAttr("readonly");
      $("input[name = 'lastname']").removeAttr("readonly");
      $("input[name =  'file_upload']").show()
                 });
           });
        </script>
        
      </head>

         <body>
        
             <link rel="stylesheet" href="{% static 'style/profile.css'%}">
                <div id="fb">
                <img src="{% static 'image/fbp1.png'%}" id="img1">
                </div>
                <div id="bg">
                </div><br>          
            
            <form method="POST" action="/fbapp/viewprofile/" name="frm_name" enctype="multipart/form-data">
                {% csrf_token %}
                         <div id="p">
           <b>First Name :</b> <input type="text" id="myInput" name="firstname" value="{{user.first_name}}" readonly ><br><br>
           <b>Last Name  :</b> <input  type="text" id="myInput" name="lastname" value="{{user.last_name}}" readonly ><br><br> 
            <b>Image Upload :</b></bImage> <input type="file" name="file_upload" style="display: none;"><br><br>
           <b>Profile Image</b> <br>
            
            {% if user.userimage %}
             <img src="{{user.userimage.url}}" width="100px">
             {% else %}
             <img src="{% static 'image/icon.jpg' %}" width="120px">
             {% endif %}
            <br><br>
            <input type="button" value="edit" id="edit" style="color: blue;">
            <input type="submit" value="update" id="update" style="color: blue;"><br>
            </div>
            </form>
        </body>
    </head>
</html>