<!DOCTYPE html>
<html>
<head>
	<title>After Successful Login</title>
	
</head>
<body>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'style/sucess.css'%}">
<div class="header">
	<input type="text" placeholder="Search Facebook" id="search" >
	<img src=""> Anjul Ranj
</div>
<div class="body1">
	<div id="part"><img src="">Anjul Ranj</div>
	<div id="part"><img src="">Profile</div>
	<div id="part"><a href="/fbapp/changepass/" >Change Password</a></div>
	<div id="part"><a href="/fbapp/viewprofile/">View Profile</a></div>
	<div id="part"><a href="/fbapp/addfriend/">Add Friend<a></div>

</div>
<div class="body2">
	<div id="column1"><img src=""> Update Status   | <img src=""> Add Photos/Video   | <img src=""> Write Note</div>
	<hr>
	<div><img src=""><textarea placeholder="What's on your mind?" id="post"></textarea></div>
</div>
<div class="body3">
	
</div>
<div class="body4">
	<select value="YOUR ADS" id="ads">
		<option>YOUR ADS</option>
	<option><div id="opt"></div></option>
	<option><div id="opt"></div></option>
	<option><div id="opt"></div></option>
</select>
</div>
<div>
		{% block content %}
		{% endblock %}
</div>

</body>
</html>










